.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6)), url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 0 70px;
    border-bottom: 1px solid #33A8DB;
}

.banner-image {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    border-radius: 50%;
    height: 180px;
    margin-bottom: 1rem;
    object-fit: contain;
    padding: 20px;
    width: 180px;
}

.banner-title {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2rem;
    font-weight: 900;
    margin: 0 .5rem 1rem;
    text-transform: uppercase;
}

.banner-description {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 auto 1rem;
    max-width: 520px;
    padding: 0 .5rem;
    text-align: center;
}

.subscribe {
    background-color: transparent;
    border: 2px solid transparent;
    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-image-repeat: repeat;
    border-image-slice: 20;
    color: #31A8DD;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 900;
    letter-spacing: 0.21rem;
    padding: 1.1875rem 2.375rem;
    transition: .2s;
}

.subscribe:hover {
    background-color: rgba(21, 114, 183, .25);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .banner-image {
        height: 250px;
        width: 250px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-description {
        font-size: 1.25rem;
        padding: 0;
    }

    .subscribe {
        border-image-slice: 30;
        font-size: 1rem;
    }
}